body {
    background-color: #efefed;
    
}
body, main {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column; 
    align-items: center;   
}
header {
    background-color: #070707;
    width: 100%;
    color: #f8f8f5;
    padding: 1em;
    text-align: center;
}
main image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h3 {
    color: #070707;
}
.datos{
    color:#070707
}
.formacion{
    color:#070707
}
.competencias{
    color:#070707
}
.herramientas{
    color:#070707
}
.aficiones{
    color:#070707
}
.trayectoria{
    color:#070707
}
nav {
    background-color: #F6e509;
    padding: 1em;
    width: 100%;
text-align: center ;
    color: #070707;
}
hr {
    display:none;
}


footer {
    background-color:#070707;
    color: #f4f5ef;
    width: 100%;
    text-align: center;
    padding: 1em;
}