body {
    background-color: #efefed;
    
}

header {
    background-color: #070707;
    Width: 1380px;
    color: #f8f8f5;
    padding: 1em;
    text-align: center;
}
h3 {
    color: #070707;
}
.datos{
    color:#070707
}
.formacion{
    color:#070707
}
.competencias{
    color:#070707
}
.herramientas{
    color:#070707
}
.aficiones{
    color:#070707
}
.trayectoria{
    color:#070707
}
nav {
    background-color: #F6e509;
    padding: 1em;
    width: 1380px;
text-align: center ;
    color: #070707;
}
hr {
    display:none;
}


footer {
    background-color:#070707;
    color: #f4f5ef;
    width: 1380px;
    text-align: center;
    padding: 1em;
}